# Archivos de Android
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Archivos generados por el sistema
*.apk
*.ap_
*.aab
*.aar

# Archivos de Log y temporales
*.log
*.tmp

# Archivos de Java
*.class

# Archivos de Kotlin
*.kotlin_module